<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인생방명록 Life Guestbook</title>
    <link href="../src/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-3xl">인생방명록 Life Guestbook</h1>
    </header>
    <div class="container mx-auto py-4">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-blue-600 text-white text-center p-4 mt-4">
        <p>© 2025 Life Guestbook</p>
    </footer>
</body>
</html>