<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인생방명록 My Guestbook</title>
    <link href="../src/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <header class="flex justify-between items-center bg-red-400 text-white p-2">
        <h1 class="text-3xl m-auto">인생방명록 My Guestbook</h1>
        <button class="rounded-full bg-white text-black p-4">My</button>
    </header>
    <div class="container mx-auto py-4">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-red-400 text-white text-center p-1 mt-4">
        <p>© 2025 My Guestbook</p>
    </footer>
</body>
</html>