{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대시보드</title>
    <link href="../src/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex items-center justify-center bg-red-400 p-4">
        <!-- Profile Emoji -->
        <div class="rounded-full bg-white p-4 w-16 h-16 flex items-center justify-center">Emoji</div>
        <!-- User Info -->
        <div class="ml-4 flex flex-col w-3/4">
            <div class="text-xl text-center font-semibold">이름 Username</div>
            <button class="bg-white text-black py-2 px-4 mt-2 rounded">들어가기 Open</button>
        </div>
    </div>

    <main class="bg-gray-200 p-4">
        <div class="bg-white p-4 rounded shadow min-h-[150px]">자기소개 About Me</div>
        <div class="flex justify-end">
            <a href="#" class="text-blue-600">편집 Edit</a>
        </div>
    </main>

</body>
</html>
{% endblock %}